@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <div class="p-5 mb-4 bg-success rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Successful</h1>
        <p class="col-md-8 fs-4">That's looks impressive! It displays you added new beautiful blog successfully</p>
        <a class="btn btn-outline-light" href="/Blog/GetAll" role="button">See Blogs</a>
      </div>
</div>